{% load static %}
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Tucker Tavarone</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static '/mainsite/css/main.css' %}" />
		<script src="https://kit.fontawesome.com/9642fd0433.js" crossorigin="anonymous"></script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161445888-1"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161445888-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-161445888-1');
		</script>
	</head>
{% block content %}
{% endblock %}
<footer id="footer">
    <div class="inner">
        <ul class="icons">
            {% if profile %}
                {% if social_media_list %}
                {% for social_media in social_media_list %}
                <li><a href="{{social_media.site_url}}" target="_blank" class="icon brands fa-{{social_media.site_name}}"></a></li>
                {% endfor %}
                {% else %}
                <h4>No social media found.</h4>
                {% endif %}
            {% else %}
            {% endif %}
        </ul>
        <ul class="copyright">
            <li>&copy; Tucker Tavarone LLC. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a> and Tucker Tavarone</li>
        </ul>
    </div>
</footer>

<!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="{% static 'mainsite/js/jquery.min.js' %}"></script>
    <script src="{% static 'mainsite/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'mainsite/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'mainsite/js/browser.min.js' %}"></script>
    <script src="{% static 'mainsite/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'mainsite//js/util.js' %}"></script>
    <script src="{% static 'mainsite/js/main.js' %}"></script>
</body>
</html>