{% extends "mainsite/base.html" %}
{% load static %}

{% block content %}
<body class="is-preload">

    <!-- Header -->
    {% if profile %}
        <section id="header">
            <header>
                <span class="image avatar"><img src="{% static '/mainsite/images/headshot.jpg' %}" alt="photo of me" id="photoOfMe"/></span>
                <h1 id="logo"><a href="#">Tucker Tavarone</a></h1>
                <p>Web developer/Python programmer<br />
                 looking for a job...</p>
            </header>
            <nav id="nav">
                <ul>
                    <li><a href="#about" class="active">About</a></li>
                    <li><a href="#myskills">My Skills</a></li>
                    <li><a href="#accomplishments">A Few Accomplishments</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </section>

    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Main -->
                <div id="main">

                    <!-- One -->
                        <section id="about">
                            <div class="image main" data-position="center">
                                <img src="{% static '/mainsite/images/nyc.JPG' %}" alt="phone of nyc" />
                            </div>
                            <div class="container">
                                <header class="major">
                                    <h2>About Me</h2>
                                    <p>I love to write code, make web apps, and explain how it all works.</p>
                                </header>
                                <p>{{ profile.biography }}</p>
                            </div>
                        </section>

                    <!-- Two -->
                        <section id="myskills">
                            <div class="container">
                                <h3>My Skills</h3>
                                {% if skills_list %}
                                <ul class="feature-icons">
                                {% for skill in skills_list %}
                                   <li class="icon solid {{skill.skill_icon_name}}">{{skill.skill_name}}</li>
                                {% endfor %}
                                </ul>
                                {% else %}
                                <h4>No skills to show.</h4>
                                {% endif %}
                            </div>
                        </section>

                    <!-- Three -->
                        <section id="accomplishments">
                            <div class="container">
                                <h3>A Few Accomplishments</h3>
                                <p>Check out what I can and have done here.  If you are more curious, click the photo for a link to Github or scroll to the bottom and send me a message.</p>
                                <div class="features">
                                    {% if accomplishments_list %}
                                    {% for accomplishment in accomplishments_list %}
                                    <article>
                                        <a href="tuckertavarone.com" class="image"><img src="{% static '/mainsite/images/website.png' %}" alt="" /></a>
                                        <div class="inner">
                                            <h4>{{ accomplishment.accomplishment_name }}</h4>
                                            <p>{{ accomplishment.accomplishment_description }}</p>
                                        </div>
                                    </article>
                                    {% endfor %}
                                    {% else %}
                                    <h4>No accomplishments to show.</h4>
                                    {% endif %}
                                </div>
                            </div>
                        </section>

                    <!-- Four -->
                        <!-- <section id="contact">
                            <div class="container">
                                <h3>Contact Me</h3>
                                <p>If you have questions, requests, or you want to talk to me about a job then you can leave a message here.  I will usually respond by email within 24-48 hours.</p>
                                <form method="POST" action="sendMessage.php">
                                    <div class="row gtr-uniform">
                                        <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name*" required/></div>
                                        <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email*" required/></div>
                                        <div class="col-12"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
                                        <div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
                                        <div class="col-12">
                                            <ul class="actions">
                                                <li><input class="primary g-recaptcha" type="submit" value="Send Message" id="captchaForm"
                                                data-sitekey="6LdbaqoaAAAAAPX_SV47e_5F5mjiWgklCEg91-Mk" data-callback='onSubmit' data-action='submit'/></li>
                                                <li><input class="primary" type="submit" value="Send Message"/></li>
                                                <li><input type="reset" value="Reset Form" /></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section> -->
                </div>
                {% else %}
                <h1>No Profile Found! How Bizarre...</h1>
                {% endif %}
{% endblock content %}